<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twitter.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".TwitterDemoApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name="com.twitter.demo.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.twitter.demo.ui.login.LoginUserActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.twitter.demo.ui.followers.FollowersActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.twitter.demo.ui.followers_details.FollowersDetailsActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>